body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #f5f7fb;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.form-horizontal{
    display: block;
    width: 30%;
    margin: 0 auto;
}

nav a{
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}

nav{
    position: sticky;
    top: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1.5rem 2rem;
    background-color: #eaeaea;
    transition: top 500ms ease-in-out;
}
